.button {
  background-color: var(--mainBlue);
  font-size: inherit;
  color: var(--mainColor);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: var(--boxShadowBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  box-shadow: var(--boxShadowInsetBlue); 
}
.button:disabled {
  background-color: #3e3b4f;
}
