.profileHeader {
  position: relative;
}

.profileDescr {
  position: absolute;
  background-color: var(--mainColor);
  font-weight: 700;
  display: flex;
  align-items: end;
  min-height: 2rem;
  width: 100%;
  bottom: 0;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: .5rem .5rem 0 0;
  box-sizing: border-box;
  color: var(--mainBlue);
}

.profileCover {
  height: 20rem;
  background: var(--profileBackgroundGradient);
}

.profileCoverAvatar {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  bottom: 0;
  border-radius: 50%;
  margin-top: -10rem;
}

.profileCoverAvatar img {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.profileExtraInfo {
  padding: 1.5rem;
  background-color: var(--mainColor);
  color: var(--mainBlue);
}
