.app-wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
  "header"
  "content";
  grid-template-rows: 5rem 1fr;
  grid-gap: .1rem;
  min-height: 100vh;
  background-color: var(--mainBlue);
}

.app-wrapper-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  grid-area: content;
  display: flex;
}

.app-inside-content {
  width: 80%;
  margin: 0 auto;
  color: var(--mainColor);
}
